<html data-ng-app="ApiHealthApp">
<head>
  <title>api-health monitor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="/static/skeleton-2_0_4/css/normalize.css">
  <link rel="stylesheet" href="/static/skeleton-2_0_4/css/skeleton.css">

  <script type="text/javascript" src="/static/angular/angular.js"></script>
  <script type="text/javascript" src="/static/angular-resource/angular-resource.js"></script>
  <script type="text/javascript" src="/static/angular-route/angular-route.js"></script>
  <!-- client app -->
  <script type="text/javascript" src="/client/app.js"></script>
  <script type="text/javascript" src="/client/services/task.js"></script>
  <script type="text/javascript" src="/client/controllers/task.js"></script>
</head>
<body>
  <div class="container">
    <div data-ng-view />
  </div>
</body>
</html>
