<div class="row">
  <div class="six columns">
  Task details and history
  </div>
</div>

<div class="six columns">
<form novalidate data-ng-submit="update()">
      <input type="hidden" data-ng-model="task.id" />
      <label for="url"> API Endpoint:</label>
      <input type="text" data-ng-model="task.url" id="url" class="u-full-width" placeholder="http://some.server.com/api/foo" required />
      <label for="url"> Comma separated expected properties (JSONPath accepted):</label>
      <textarea data-ng-model="task.expected_fields" id="expectedFields" class="u-full-width" placeholder="user, email, phone[1].number"></textarea>
    <button id="update">Update</button>
</form>
</div>
