<html data-ng-app="ApiHealthApp">
<head>
  <title>api-health monitor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="static/angular/angular.min.js">
  <link rel="stylesheet" href="static/skeleton-2_0_4/css/normalize.css">
  <link rel="stylesheet" href="static/skeleton-2_0_4/css/skeleton.css">
  <!-- client app -->
  <link rel="stylesheet" href="client/controllers/task.js">
  <script>
  var app = angular.module('ApiHealthApp, []);

  /* changes Angular default's so that it can co-exist in harmony with jinja2 :) */
  app.config(['$interpolateProvider', function($interpolateProvider) {
    $interpolateProvider.startSymbol('{a');
    $interpolateProvider.endSymbol('a}');
  }]);
  </script>
</head>
<body>
  {% block content %}
  {% endblock %}
</body>
</html>
