{% extends 'base.html' %}
{% block content %}
  {% block header %}
  <a href="/new_task">add</a>
  {% endblock %}
  {% block tasks %}
  <table class="u-full-width">
  <thead>
    <tr>
      <td>STATUS:</td>
      <td>ID:</td>
      <td>URL:</td>
      <td>EXPECTED FIELDS:</td>
      <td>LAST RUN:</td>
    <tr>
  </thead>
  <tbody>
    {% for task in all_tasks %}
    <tr>
      <td>{{ task }}</td>
      <td>{{ task.id }}</td>
      <td>{{ task.url }}</td>
      <td>{{ task.expected_fields }}</td>
      <td>{{ task.last_run }}</td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
  {% endblock %}
{% endblock %}
