<html>
<head>
  <title>api monitor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="static/skeleton-2_0_4/css/normalize.css">
  <link rel="stylesheet" href="static/skeleton-2_0_4/css/skeleton.css">
</head>
<body>
{% block tasks %}
<table class="u-full-width">
<thead>
  <tr>
    <td>STATUS:</td>
    <td>ID:</td>
    <td>URL:</td>
    <td>EXPECTED FIELDS:</td>
    <td>LAST RUN:</td>
  <tr>
</thead>
<tbody>
  {% for task in all_tasks %}
  <tr>
    <td>{{ task }}</td>
    <td>{{ task.id }}</td>
    <td>{{ task.url }}</td>
    <td>{{ task.expected_fields }}</td>
    <td>{{ task.last_run }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}
</body>
</html>
