{% extends 'base.html' %}
{% block content %}
  {% block header %}
  <a href="/new_task">add</a>
  {% endblock %}
  {% block tasks %}
  <table data-ng-controller="TaskListController" class="u-full-width">
  <thead>
    <tr>
      <td>STATUS:</td>
      <td>ID:</td>
      <td>URL:</td>
      <td>EXPECTED FIELDS:</td>
      <td>LAST RUN:</td>
    <tr>
  </thead>
  <tbody data-ng-repeat="task in all_tasks">
    <tr>
      <td>{a task a}</td>
      <td>{a task.id a}</td>
      <td>{a task.url a}</td>
      <td>{a task.expected_fields a}</td>
      <td>{a task.last_run a}</td>
    </tr>
  </tbody>
  </table>
  {% endblock %}
{% endblock %}
